<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" src="./public/stylesheets/style.css">
  <script src="https://kit.fontawesome.com/b21f20a653.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <title>Sign U</title>
</head>
<body>

  <div id="navwrapper">
    <div id="navbar">

      <h1 class="logowrapper">Acebook</h1>

    </div>
  </div>

  <div id="contentwrapper">
    <div id="content">

      <div id="leftbod">

        <div class="connect bolder">
          Connect with friends and the
          world around you on Acebook.</div>

          <div class="leftbar">
            <img src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xap1/t39.2365-6/851565_602269956474188_918638970_n.png" alt="" class="iconwrap fb1"/>
            <div class="fb1">
              <span class="rowtext">See photos and updates</span>
              <span class="rowtext2 fb1">from friends in News Feed</span>
            </div>
          </div>

          <div class="leftbar">
            <img src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xap1/t39.2365-6/851585_216271631855613_2121533625_n.png" alt="" class="iconwrap fb1"/>
            <div class="fb1">
              <span class="rowtext">Share what's new</span>
              <span class="rowtext2 fb1">in your life on your timeline</span>
            </div>
          </div>

          <div class="leftbar">
            <img src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xap1/t39.2365-6/851558_160351450817973_1678868765_n.png " alt="" class="iconwrap fb1"/>
            <div class="fb1">
              <span class="rowtext">Find more</span>
              <span class="rowtext2 fb1">of what you're looking for with graph search</span>
            </div>
          </div>


        </div>
        <div id="rightbod">
          <div class="signup bolder">{{title}}</div>
          <div class="free bolder">It's free and always will be</div>
          <form class="" action="/user" onsubmit='return validate()' method="post">
            <div class="formbox">
              <input type="text" class="inputbody in1" name= "firstname" placeholder="First name" required>
              <input type="text" class="inputbody in1 fr" name= "lastname" placeholder="Last name" required>
            </div>
            <div class="formbox">
              <input type="text" class="inputbody in2" name= "email" placeholder="Email" id='email' required>
            </div>
            <div class="formbox">
              <input type="text" class="inputbody in2" name= "email2" placeholder="Re-enter email" id='email2' required>
            </div>
            <div class="formbox">
              <input type="password" class="inputbody in2" name= "password" placeholder="New password" required>
            </div>
            <div class="formbox">
              <div class="agree">
                By clicking Sign Up, you agree to our <div class="link">Terms</div> and that you have read our <div class="link">Data Use Policy</div>, including our <div class="link">Cookie Use</div>.
              </div>
            </div>
            <div class="formbox">
              <button type="submit" class="signbut bolder" value = "Submit">Submit</button>
            </div>
          </form>
          <br><br><br>
          <footer class="container-fluid footer-container text-center" style="margin-left: -350px;">
            <div class="col-12">
              <p class="inline-block ">
                <i class="far fa-clock "></i>Anti-Social Network Opening Hours: Mondays - let's see how Monday goes fist. 1 pm until when's lunch?.
              </p>
            </div>
            <div class="col-12">
              <p class="inline-block ">
                <i class="fas fa-map-marker-alt "></i>We are located at - Never You Mind.
              </p>
            </div>
            <div class="col-12">
              <p class="inline-block ">
                <i class="fas fa-at "></i>info@wewontreply.co.uk</br>
              </p>
            </div>
            <div class="col-12">
              <p class="inline-block ">
                <i class="fas fa-phone "></i>0208 123456789
              </p>
            </div>
            <div class="col-12 ">

              <ul class="list-inline social-links ">
                <li class="list-inline-item ">
                  <a target="_blank " href="# " class="hvr-icon-bounce">
                    <i class="fab fa-facebook hvr-icon" aria-hidden="true "></i>
                    <span class="sr-only ">Facebook</span>
                  </a>
                </li>
                <li class="list-inline-item ">
                  <a target="_blank " href="# " class="hvr-icon-bounce">
                    <i class="fab fa-twitter hvr-icon" aria-hidden="true "></i>
                    <span class="sr-only ">Twitter</span>
                  </a>
                </li>
                <li class="list-inline-item ">
                  <a target="_blank " href="# " class="hvr-icon-bounce">
                    <i class="fab fa-linkedin-in hvr-icon" aria-hidden="true "></i>
                    <span class="sr-only ">LinkedIn</span>
                  </a>
                </li>
                <li class="list-inline-item ">
                  <a target="_blank " href="# " class="hvr-icon-bounce">
                    <i class="fab fa-pinterest hvr-icon" aria-hidden="true "></i>
                    <span class="sr-only ">Pinterest</span>
                  </a>
                </li>
                <li class="list-inline-item ">
                  <a target="_blank " href="# " class="hvr-icon-bounce">
                    <i class="fab fa-instagram hvr-icon" aria-hidden="true "></i>
                    <span class="sr-only ">Instagram</span>
                  </a>
                </li>
                <li class="list-inline-item ">
                  <a target="_blank " href="# " class="hvr-icon-bounce">
                    <i class="fab fa-youtube hvr-icon" aria-hidden="true "></i>
                    <span class="sr-only ">YouTube</span>
                  </a>
                </li>
              </ul>
            </div>
          </footer>

          <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
          <script>
          function validate() {
            var n1 = document.getElementById('email');
            var n2 = document.getElementById('email2');
            if(n1.value != '' && n2.value != '') {
              if(n1.value == n2.value) {
                return true;
              }
            }
            alert("The email addresses do not - please try again");
            return false;
          };
        </script>

      </body>
      </html>
