body {
  margin: 0;
  font-family: 'Lucida Grande', tahoma,verdana,arial,sans-serif;
  line-height: 1.28;
  background-color:#f5e5f5;
}

#curr_time{
  color: white;
  float: left;
  margin-top: -50px;
  margin-left: 30px;
  font-family: tahoma,verdana,arial,sans-serif;
  font-size: 40px;
}
@import "compass/css3";

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
$openSans: 'Open Sans', Helvetica, Arial, sans-serif;
html, body {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
  
  @media (max-width: 768px) {
    font-size: 50%;
  }
}
svg {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  overflow: visible;
}
.svg-icon {
  cursor: pointer;

  path {
    stroke: rgba(255,255,255,0.9);
    fill: none;
    stroke-width: 1;
  }
}
input, button {
  outline: none;
  border: none;
}
.cont {
  position: relative;
  height: 100%;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/slider-2.jpg');
  background-size: cover;
  overflow: auto;
  font-family: $openSans;
}
.demo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15rem;
  margin-top: -26.5rem;
  width: 30rem;
  height: 53rem;
  overflow: hidden;
}
.login {
  position: relative;
  height: 100%;
  background: linear-gradient(to bottom, rgba(146, 135, 187, 0.8) 0%, rgba(0,0,0,0.6) 100%);
  transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  transform: scale(1);
  
  &.inactive {
    opacity: 0;
    transform: scale(1.1);
  }
  
  &__check {
    position: absolute;
    top: 16rem;
    left: 13.5rem;
    width: 14rem;
    height: 2.8rem;
    background: #fff;
    transform-origin: 0 100%;
    transform: rotate(-45deg);
    
    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 100%;
      width: 2.8rem;
      height: 5.2rem;
      background: #fff;
      box-shadow: inset -0.2rem -2rem 2rem rgba(0,0,0,0.2);
    }
  }
  
  &__form {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    padding: 1.5rem 2.5rem;
    text-align: center;
  }
  
  &__row {
    height: 5rem;
    padding-top: 1rem;
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }
  
  &__icon {
    margin-bottom: -0.4rem;
    margin-right: 0.5rem;
    
    &.name path {
      stroke-dasharray: 73.50196075439453;
      stroke-dashoffset: 73.50196075439453;
      animation: animatePath 2s 0.5s forwards;
    }
    &.pass path {
      stroke-dasharray: 92.10662841796875;
      stroke-dashoffset: 92.10662841796875;
      animation: animatePath 2s 0.5s forwards;
    }
  }
  
  &__input {
    display: inline-block;
    width: 22rem;
    height: 100%;
    padding-left: 1.5rem;
    font-size: 1.5rem;
    background: transparent;
    color: #FDFCFD;
  }
  
  &__submit {
    position: relative;
    width: 100%;
    height: 4rem;
    margin: 5rem 0 2.2rem;
    color: rgba(255,255,255,0.8);
    background: #FF3366;
    font-size: 1.5rem;
    border-radius: 3rem;
    cursor: pointer;
    overflow: hidden;
    transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
    
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -1.5rem;
      margin-top: -1.5rem;
      width: 3rem;
      height: 3rem;
      border: 2px dotted #fff;
      border-radius: 50%;
      border-left: none;
      border-bottom: none;
      transition: opacity 0.1s 0.4s;
      opacity: 0;
    }
    
    &.processing {
      width: 4rem;
      font-size: 0;
      
      &:after {
        opacity: 1;
        animation: rotate 0.5s 0.4s infinite linear;
      }
    }
    
    &.success {
      transition: transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s, background-color 0.1s 0.3s;
      transform: scale(30);
      opacity: 0.9;
      //background-color: rgba(255,255,255,0.95);
      
      &:after {
        transition: opacity 0.1s 0s;
        opacity: 0;
        animation: none;
      }
    }
  }
  
  &__signup {
    font-size: 1.2rem;
    color: #ABA8AE;
    
    a {
      color: #fff;
      cursor: pointer;
    }
  }
  
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: none;
  transition: opacity 0.1s, transform 0.3s cubic-bezier(0.68, -0.45, 0.465, 1.25);
  transform: scale(1.2);
  
  &.active {
    opacity: 1;
    transform: scale(1);
    
    .app__user-photo {
      transform: scale(1);
    }
    
    .app__meeting {
      transform: translateY(0);
      opacity: 1;
    }
    
    .app__logout {
      transform: scale(1);
    }
  }

  &__top {
    position: relative;
    height: 28rem;
    background: rgba(0,0,0,0.5);
    padding: 6rem 1.5rem 2rem;
    text-align: center;
  }

  &__bot {
    position: relative;
    height: 25rem;
    background: #fff;
  }
  
  &__menu-btn {
    position: absolute;
    top: 2rem;
    left: 1.5rem;
    width: 1.8rem;
    height: 1.7rem;
    cursor: pointer;
    
    span,
    &:before,
    &:after {
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      background: rgba(255,255,255,0.6);
    }
    
    span {
      top: 0.8rem;
    }
    &:before {
      content: "";
      top: 0;
    }
    &:after {
      content: "";
      bottom: 0;
    }
  }

  &__icon {
    position: absolute;
    top: 2rem;

    &.search {
      right: 1.5rem;
      stroke-dasharray: 61.847137451171875;
      stroke-dashoffset: 61.847137451171875;
      animation: animatePath 0.5s 0.5s forwards;
    }
  }
  
  &__hello {
    font-size: 2.2rem;
    color: #fff;
    font-weight: normal;
    margin-bottom: 3rem;
  }
  
  &__user {
    position: relative;
    display: inline-block;
    width: 9rem;
    height: 9rem;
    margin-bottom: 3rem;
  }
  &__user-photo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: transform 0.3s 0.2s cubic-bezier(.62,.35,.56,1.55);
    transform: scale(0);
  }
  &__user-notif {
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    line-height: 3rem;
    text-align: center;
    background: #50D2C2;
    color: #fff;
    font-size: 1.5rem;
  }
  
  &__month:after {
    content: "";
    display: table;
    clear: both;
  }
  
  &__month-name {
    display: inline-block;
    color: rgba(255,255,255,0.6);
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  
  &__month-btn {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid rgba(255,255,255,0.6);
    border-left: none;
    border-bottom: none;
    cursor: pointer;
    
    &.left {
      float: left;
      transform: rotate(-135deg);
    }
    
    &.right {
      float: right;
      transform: rotate(45deg);
    }
  }
  
  &__days {
    height: 7rem;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  &__day {
    width: 14%;
    text-align: center;
    font-size: 1.2rem;
    
    &.weekday {
      color: #919197;
      text-transform: uppercase;
    }
    &.date {
      font-size: 1.2rem;
      font-weight: bold;
      color: #3C3C43;
    }
  }
  
  &__meeting {
    position: relative;
    height: 6rem;
    border-top: 1px solid #EEEEEF;
    padding: 1rem 2rem 1rem 7.5rem;
    transition: transform 0.3s, opacity 0.3s;
    transform: translateY(-50%);
    opacity: 0;
    
    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        transition-delay: 0.1s + 0.1s * $i;
      }
    }
    
    &-photo {
      position: absolute;
      left: 2rem;
      top: 1rem;
      width: 4rem;
      height: 4rem;
    }
    &-name {
      color: #000;
      font-size: 1.3rem;
    }
    &-info {
      color: #949498;
      font-size: 1.1rem;
    }
  }
  
  &__logout {
    position: absolute;
    bottom: 3.3rem;
    right: 3.3rem;
    width: 4.6rem;
    height: 4.6rem;
    margin-right: -2.3rem;
    margin-bottom: -2.3rem;
    background: #FC3768;
    color: #fff;
    font-size: 2rem;
    border-radius: 50%;
    cursor: pointer;
    transition: bottom 0.4s 0.1s, right 0.4s 0.1s, transform 0.4s 0.4s, opacity 0.1s 0.7s, background-color 0.1s 0.7s;
    transform: scale(0);
    
    &.clicked {
      bottom: 50%;
      right: 50%;
      transform: scale(30) !important;
      opacity: 0.9;
      //background-color: rgba(255,255,255,0.95);
      
      svg {
        opacity: 0;
      }
    }
    
    &-icon {
      position: absolute;
      width: 3rem;
      height: 3rem;
      top: 50%;
      left: 50%;
      margin-left: -1.5rem;
      margin-top: -1.5rem;
      transition: opacity 0.1s;
      
      path {
        stroke-width: 4px;
        stroke-dasharray: 64.36235046386719;
        stroke-dashoffset: 64.36235046386719;
        animation: animatePath 0.5s 0.5s forwards;
      }
    }
  }
  
}

.ripple {
  position: absolute;
  width: 15rem;
  height: 15rem;
  margin-left: -7.5rem;
  margin-top: -7.5rem;
  background: rgba(0,0,0,0.4);
  transform: scale(0);
  animation: animRipple 0.4s;
  border-radius: 50%;
}
@keyframes animRipple {
  to {
    transform: scale(3.5);
    opacity: 0;
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes animatePath {
  to {
    stroke-dashoffset: 0;
  }
}

#btnslider_prev {
  margin-top: 30px;
  float: left;
  height: 50px;
  margin-left: 550px;
}

#btnslider_next {
  margin-top: 30px;
  float: right;
  height: 50px;
  margin-right: 590px;
}

#slider {
  margin-right: 10px;
  margin-left: 10px;
  width: 700px;
  display: inline-block;
}

#navwrapper {
  width: 100%;
  height: 82px;
  background-color: darkred;
  margin-top: -40px;
}

a {
  text-decoration: none;
  color: white;
}

#navbar {
  margin: 0 auto;
  width:1000px;
  height:59px;
}

#contentwrapper {
  width: 100%;
  height: 606px;
  background-color: #f5e5f5;
}

#content {
  margin: 0 auto;
  width:980px;
  padding-top:20px;
}

h1 {
  font-family: tahoma,verdana,arial,sans-serif;
  font-size: 38px;
  letter-spacing:0.05px;
  margin: 0;
  padding-bottom: -20px;
  color:darkred;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-family: tahoma,verdana,arial,sans-serif;
  font-size:28px;
  letter-spacing:0.05px;
  margin: 0px;
  padding-top: 20px;
  color:#fff;
  -webkit-font-smoothing: antialiased;
  margin-left: -90px;
}

.logowrapper {
  display: block;
  padding: 10px 0;
}

.imagewrapper {
  display: block;
  padding: 30px 0;
  height: 50px;
  width: 50px;
}

#button {
  position:relative;
  width:60px;
  height:30px;
  background-color: #5b72a9;
  border: 1px solid #999;
  border-color:#8b9dc3 #2f477a #29447e #1a356e;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  cursor:pointer;
  font-size:11px;
  font-weight:bold;
  text-align:center;
  color:#fff;
  display: inline-block;
}

.tablewrapper {
  float:right;
  margin-top:15px;
  /* margin-right: -200px; */
}

.row1 {
  color:#fff;
  font-size:11px;
  width:164px;
  cursor:pointer;
}
.row2 {
  color:#fff;
  font-size:11px;
  width:164px;
  cursor:pointer;
}

.inputtext {
  border-color: #1d2a5b;
  margin: 0;
  width: 142px;
  border: 1px solid #bdc7d8;
  margin: 0;
  padding: 3px;
  background-color: #FAFFBD;
}

.row2 {
  color:#9daccb;
  font-size:11px;
  width:164px;
  cursor:pointer;
}

#leftbod {
  width:565px;
  display:inline-block;
}

.connect {
  width:409px;
  height: 72px;
  padding: 42px 0 24px;
  font-size: 26px;
  font-weight: 700;
  line-height: 36px;
  color: #333;
  display:inline-block;
}

.leftbar {
  padding-bottom:10px;
  margin-top:20px;
}

.iconwrap {
  margin-right:20px;
  width:55px;
}

.rowtext {
  font-size:16px;
  font-weight:bold;
  color:#333;
}


.fb1 {
  display:inline-block;
  vertical-align: middle;
}

.rowtext2 {
  font-size:15px;
  color:#666;
  margin-left:10px;
}

#rightbod {
  display:inline-block;
  vertical-align:top;
  width:399px;
  height:200px;
  float:right;
}

.signup {
  font-size:36px;
  -webkit-font-smoothing: antialiased;
  font-weight:700;
  margin-bottom:5px;
}

.bolder {
  font-family: 'Open Sans',sans-serif;
  text-rendering:optimizelegibility;
  color:#333;
}

.free {
  font-size:19px;
  margin-bottom:20px;
}

.formbox {
  display: inline-block;
  width:399px;
}

.inputbody {
  display: inline-block;
  font-size: 18px;
  padding: 8px 10px;
  border: 1px solid #bdc7d8;
  -webkit-border-radius: 5px;
  color:#333;
  margin-bottom:10px;
}

::-webkit-input-placeholder {
  color: #999;
}

::-moz-placeholder {
  color: #999;
}

:-ms-input-placeholder {
  color: #999;
}

.in1 {
  width:172px;
}

.in2 {
  width:377px;
}

.fr {
  float:right;
}

.fl {
  float:left;
}

.bday {
  font-size:19px;
  color:#141823;
  -webkit-font-smoothing: antialiased;
  margin-bottom:5px;
}

.selectbody {
  display: inline-block;
  height:30px;
  font-size: 13px;
  border: 1px solid #bdc7d8;
  -webkit-border-radius: 5px;
  color:#141823;
}

.why {
  font-size: 11px;
  color: #3b5998;
  width:150px;
  margin-left:10px;
  cursor:pointer;
}

.h:hover {
  text-decoration: underline;
}

.gender {
  font-size: 18px;
  color: #141823;
  cursor: pointer;
  padding: 0 10px 0 3px;
  margin-right: 4px;
  line-height: 18px;
  vertical-align: middle;
}

.spanpad {
  padding: 5px 0 5px 4px;
  display: inline-block;
}

.mt1 {
  margin-top:15px;
}

.m0 {
  margin: 0;
}

.agree {
  font-size: 11px;
  color: #777;
  width:316px;
  margin: 11px 0 11px ;
}

.link {
  color:#3b5998;
  display: inline-block;
  cursor: pointer;
}
.hidden-input{
  margin-left: 160px;
  margin-top: 70px;
}

.signbut {
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 1px;
  color:#fff;
  margin-left: 70px;
  min-width: 194px;
  padding: 7px 20px;
  text-align: center;
  -webkit-border-radius: 5px;
  background: -webkit-linear-gradient(#67AE55, #578843);
  -webkit-box-shadow: inset 0 1px 1px #A4E388;
  border: 1px solid;
  border-color: #3B6E22 #3B6E22 #2C5115;
  margin-top: 10px;
  margin-bottom: 10px;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
  cursor:pointer;
}

/* .signbut {
display:inline-block;
background-color: #5b72a9;
border: 1px solid #999;
border-color:#8b9dc3 #2f477a #29447e #1a356e;
font-size: 12px;
font-weight: 300;
letter-spacing: 1px;
color:#fff;
margin-left: 70px;
min-width: 194px;
padding: 7px 20px;
text-align: center;
-webkit-border-radius: 5px;
margin-top: -50px;
margin-left: 700px;
display: inline-block;
margin-bottom: 10px;
text-shadow: 0 1px 2px rgba(0,0,0,.5);
cursor:pointer;
} */

/* .signbut_main {
display:inline-block;
background-color: #5b72a9;
border: 1px solid #999;
border-color:#8b9dc3 #2f477a #29447e #1a356e;
font-size: 12px;
font-weight: 300;
letter-spacing: 1px;
color:#fff;
margin-left: 70px;
min-width: 194px;
padding: 7px 20px;
text-align: center;
-webkit-border-radius: 5px;
margin-top: -50px;
margin-left: 700px;
display: inline-block;
margin-bottom: 10px;
text-shadow: 0 1px 2px rgba(0,0,0,.5);
cursor:pointer;
} */

.signbut_main {
  display:inline-block;
  background-color: #5b72a9;
  border: 1px solid #999;
  border-color:#8b9dc3 #2f477a #29447e #1a356e;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  color:#fff;
  min-width: 90px;
  min-height: -100px;
  padding: 3px 5px;
  text-align: center;
  -webkit-border-radius: 5px;
  margin-top: -50px;
  margin-left: 700px;
  display: inline-block;
  margin-bottom: 10px;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
  cursor:pointer;
}

.signbut_main:hover {
  background: -webkit-linear-gradient(#79bc64, #578843);
}

.signbut:hover {
  background: -webkit-linear-gradient(#79bc64, #578843);
}

.navbut1 {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  color: darkred;
  padding-left: 600px;
  margin-right: -150px;
}

.navbut2 {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  color: darkred;
  text-align: center;
  padding-right: 100px;
  margin-left: 50px;
  margin-right: -50px;
}

.navbut3 {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  color: darkred;
  text-align: center;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #f5e5f5;
  height:40px;
}
.create {
  border-top: 1px solid #a0a9c0;
  color: #666;
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
  padding-top: 15px;
}

*{
  outline: none;
}

body
{
  margin:100px 0px;
  background-color:#f5e5f5;
}

body, input, button
{
  font-family: Helvetica;
}

img
{
  display: block;
  width: 100%;
  border: 10;

}
.main_profile_pic{
  position: absolute;
  display: block;
  width: 13%;
  border: 2px solid white;
  border-radius: 50%;
  border-top-color: white;
  margin-left: 130px;
  margin-top: -140px;
  z-index: 2;
}
.tb
{
  display: table;
  width: 100%;
}

.tr
{
  display: table-row;
}

.td

{
  display: table-cell;
  vertical-align: middle;


}
.unique{
  width: 50px;
  color:white;
  display: table-cell;
  vertical-align: middle;
}
a
{
  text-decoration: none;
}

button
{
  padding: 0;
  border: 0;
  background-color: transparent;
  display: inline;
}

::placeholder
{
  color: #f1f1f1;
}

/* main
{
width: 1280px;
margin: 0 auto;
background-color: #e9ebee;
box-shadow: 0px 8px 30px #1d2d4f;
border-radius: 4px;
overflow: hidden;
} */

#device-bar-1
{
  text-align: right;
  padding: 6px;
  background-color: #000;
  overflow: hidden;
}

#device-bar-1 button
{
  width: 15px;
  height: 15px;
  float: left;
  margin: 6px;
  border-radius: 50%;
  cursor: pointer;
}

#device-bar-1 button:first-child
{
  background-color: #f35d5b;
}

#device-bar-1 button:nth-child(2)
{
  background-color: #f6bd3a;
}

#device-bar-1 button:last-child
{
  background-color: #44cc45;
}

/* Header */
header {
  padding: 15px 20px;
  background-color: darkred;
  margin-top: -40px;
}

#logo
{
  width: 30px;
}

#logo a
{
  display: block;
}

#logo a i
{
  font-size: 34px;
  color: #fff;
}

#search-form form
{
  position: relative;
  width: 280px;
  font-size: 16px;
  padding: 8px 15px;
  padding-right: 37px;
  background-color:indianred;
  border-radius: 20px;
  margin-left: 15px;
}

#search-form form input
{
  width: 100%;
  color: #fff;
  border: 0;
  background-color: transparent;
}

#search-form form button
{
  position: absolute;
  top: 6px;
  right: 6px;
  color: #f1f1f1;
  height: 22px;
  line-height: 1;
  cursor: pointer;
}

#search-form form button i
{
  font-size: 22px;
}

#f-name-l
{
  width: 1px;
  color: #fff;
  font-weight: bold;
  white-space: pre;
  padding-right: 20px;
}

#f-name-l span
{
  padding-right: 28px;
  border-right: 1px solid #35518b;
}

#i-links
{
  width: 1px;
}

#m-td
{
  padding-right: 20px;
}

#m-td span
{
  position: relative;
  cursor: pointer;
}

#m-td span.m-active:before
{
  position: absolute;
  top: -8px;
  right: 0px;
  color: #fff;
  font-size: 12px;
  padding: 4px 4px 3px 4px;
  background-color: #ff1e0e;
  border-radius: 3px;
  line-height: 1;
}

#i-links i
{
  color: #fff;
  font-size: 24px;
  padding: 0px 8px;
  vertical-align: middle;
}

#p-link
{
  display: block;
  width: 34px;
  height: 34px;
  background-color: #f1f1f1;
  border-radius: 50%;
  overflow: hidden;
}

#p-link img
{
  width: 100%;
}

/* Header finished */

/* Profile image header */
#profile-upper
{
  position: relative;
}

#profile-d
{
  position: absolute;
  left: 59px;
  bottom: 0px;
  right: 0px;
  height: 180px;
  z-index: 1;
}

#profile-banner-image
{
  height:660px;
  overflow: hidden;
  z-index: -1;


}

#profile-banner-image img
{
  width: 100%;
  margin-top: 0%;
}

#profile-pic
{
  width: 180px;
  height: 180px;
  border-radius: 3px;
  margin-top: 28px;
  overflow: hidden;
  box-shadow: 0 0 0 5px #fff;
}

#profile-pic img
{
  width: 100%;
}

#u-name
{
  position: absolute;
  top: 650px;
  left: 400px;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  border-color: black;
  border-width: 2px;
  text-shadow: grey;

}

#m-btns
{
  position: absolute;
  right: 56px;
  bottom: 20px;
  width: 211px;
}

#m-btns .td
{
  padding: 0 8px;
}

.m-btn
{
  cursor: pointer;
  color: #0e0e0e;
  font-size: 14px;
  white-space: pre;
  padding: 5px 8px 6px 8px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 2px;
}

.m-btn i
{
  font-size: 16px;
  margin-right: 1px;
  vertical-align: middle;
}

.m-btn span
{
  position: relative;
  top: 1px;
}

#edit-profile
{
  position: absolute;
  right: 20px;
  bottom: 21px;
  line-height: 1;
  cursor: pointer;
}

#edit-profile i
{
  display: block;
  color: rgba(255, 255, 255, 0.7);
}

#black-grd
{
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  height: 300px;
  background: linear-gradient(rgba(0,0,0,0) 71%, rgba(0,0,0, .53));
  z-index: 1;
}
/* Profile image header finished */

/* Content area */
#main-content
{
  padding: 2px 0px 0px 55px;
}

#l-col, #m-col, #r-col
{
  vertical-align: top;
}

#l-col
{
  width: 340px;
  padding-top: 6px;
}

.l-cnt
{
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 3px 3px #ddd;
}

.l-mrg
{
  margin-top: 18px;
}
.l-i
{
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 2px;
  background-size: auto;
  background-repeat: no-repeat;
  vertical-align: middle;
}

#l-i-i
{
  background-image: url('https://imagizer.imageshack.com/img922/7749/C8tmwX.png');
  background-position: 0 -87px;
}

#l-i-p
{
  background-image: url('https://imagizer.imageshack.com/img923/7847/sRapnM.png');
  background-position: 0 0;
}

#l-i-k
{
  background-image: url('https://imagizer.imageshack.com/img922/5617/QpPVKn.png');
}

.cnt-label
{
  position: relative;
  padding-right: 24px;
  margin-bottom: 15px;
}

.cnt-label span
{
  position: relative;
  top: 2px;
  color: #707070;
  font-size: 18px;
}

.lb-action
{
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

.lb-action i
{
  display: block;
  color: #ccc;
  font-size: 18px;
}

#b-i i
{
  font-size: 24px;
}

#i-box
{
  color: #797979;
  font-size: 14px;
  line-height: 1.3;
}

#intro-line
{
  margin-top: 17px;
}

#u-occ
{
  margin: 10px 0px;
}

#u-occ a
{
  color: #2196f3;
}

#u-loc i
{
  color: #2196F3;
  font-size: 16px;
  margin-left: -3px;
  margin-right: 2px;
  margin-top: -1px;
  vertical-align: middle;
}

#u-loc a
{
  position: relative;
  top: 1px;
  color: #2196F3;
}

#photos
{
  padding: 2px;
  margin: 15px -20px -20px -20px;
}

#photos .td
{
  width: 33.333%;
  height: 112px;
  border: 2px solid #fff;
  box-sizing: border-box;
  background-color: #f1f1f1;
  background-position: 50% 25%;
  background-size: cover;
}

#photos .tb .tr:nth-child(1) .td:nth-child(1)
{
  background-image: url('https://imagizer.imageshack.com/img922/8637/NN4aPj.jpg');
}

#photos .tb .tr:nth-child(1) .td:nth-child(2)
{
  background-image: url('https://imagizer.imageshack.com/img923/528/iJy0X5.jpg');
}

#photos .tb .tr:nth-child(1) .td:nth-child(3)
{
  background-image: url('https://imagizer.imageshack.com/img923/9781/26phSy.jpg');
}

#photos .tb .tr:nth-child(2) .td:nth-child(1)
{
  background-image: url('https://imagizer.imageshack.com/img921/8417/svxO7y.jpg');
}

#photos .tb .tr:nth-child(2) .td:nth-child(2)
{
  background-image: url('https://imagizer.imageshack.com/img921/6488/i2Hb4U.jpg');
}

#photos .tb .tr:nth-child(2) .td:nth-child(3)
{
  background-image: url('https://imagizer.imageshack.com/img921/2453/J7PICR.jpg');
}

#photos .tb .tr:nth-child(3) .td:nth-child(1)
{
  background-image: url('https://imagizer.imageshack.com/img921/3021/8uZZY2.jpg');
}

#photos .tb .tr:nth-child(3) .td:nth-child(2)
{
  background-image: url('https://imagizer.imageshack.com/img923/3992/22mL29.jpg');
}

#photos .tb .tr:nth-child(3) .td:nth-child(3)
{
  background-image: url('https://imagizer.imageshack.com/img921/2711/JXSt41.jpg');
}

#k-nm
{
  color: #b8b8b8;
  font-size: 15px;
  font-style: normal;
  margin-left: 8px;
  cursor: pointer;
}

.q-ad-c
{
  padding: 2px;
}

.q-ad
{
  display: block;
  padding: 8px;
  border: 1px solid #eeeeee;
  background-color: #fafafa;
  border-radius: 4px;
}

.q-ad img
{
  display: inline;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  vertical-align: middle;
}

.q-ad span
{
  position: relative;
  top: 1px;
  color: #242424;
  font-size: 14px;
  text-align: center;
}

#add_q
{
  color: #858585;
  text-align: center;
  margin-top: 10px;
  background-color: #fff;
  border-color: #f1f1f1;
}

#add_q i
{
  font-size: 17px;
  margin-right: -3px;
  vertical-align: middle;
}

#add_q span
{
  color: #858585;
  font-size: 12.4px;
  position: relative;
  top: -1px;
}

#t-box
{
  font-size: 14px;
  color: #686868;
  padding-top: 24px;
  line-height: 18px;
}

#t-box a
{
  margin-right: 5px;
}

#t-box a, #t-more
{
  color: #999;
}

#t-more
{
  cursor: pointer;
}

#t-more i
{
  font-size: 15px;
  vertical-align: middle;
}

#cpy-nt
{
  margin-top: 4px;
}

#m-col
{
  padding: 0px 55px;
}

.m-mrg
{
  margin-bottom: 28px;
}

#p-tabs
{
  position: relative;
  font-size: 13px;
  color: #919191;
  text-align: center;
  padding: 13px 20px;
  margin-top: -100px;
  background-color: #fff;
  box-shadow: 0px 3px 3px #ddd;
  z-index: 3;
}

#p-tabs-m .td
{
  width: 16.6666667%;
  cursor: pointer;
}

#p-tabs-m .td.active
{
  color: #ee6000;
}

#p-tabs-m span
{
  position: relative;
}

#p-tabs-m .td.active span:after
{
  content: '';
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -13px;
  height: 4px;
  background-color: #ee6000;
}

#p-tabs-m .td i
{
  display: block;
  font-size: 24px;
  margin-bottom: 5px;
}

#p-tab-m
{
  width: 1px;
  color: #ccc;
  cursor: pointer;
}

#p-tab-m i
{
  margin-right: -4px;
}

#composer
{
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 3px 3px #ddd;
}

#c-tabs-cvr
{
  padding-bottom: 12px;
  border-bottom: 1px solid #ececec;
}

#c-tabs
{
  width: auto;
  color: #919191;
}

#c-tabs .td
{
  position: relative;
  width: 1px;
  padding: 0px 15px;
  white-space: pre;
  cursor: pointer;
}

#c-tabs .td:after
{
  content: '';
  position: absolute;
  top: 50%;
  right: 0px;
  width: 1px;
  height: 12px;
  margin-top: -6px;
  background-color: #eaeaea;
}

#c-tabs .td:first-child
{
  padding-left: 0px;
}

#c-tabs .td:last-child
{
  padding-right: 0;
}

#c-tabs .td:last-child:after
{
  display: none;
}

#c-tabs .td span
{
  position: relative;
}

#c-tabs .td.active
{
  color: #373737;
}

#c-tabs .td.active span:after
{
  content: '';
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -20px;
  width: 10px;
  height: 10px;
  border: 1px solid transparent;
  border-color: transparent #ececec #ececec transparent;
  margin: 0 auto;
  background-color: #fff;
  transform: rotateZ(45deg);
}

#c-tabs .td i
{
  font-size: 21px;
  margin-right: 4px;
  vertical-align: middle;
}

#c-tabs .td span
{
  position: relative;
  top: 1px;
  font-size: 15px;
}

#c-c-main
{
  position: relative;
  padding-top: 15px;
}

#p-c-i
{
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}

#p-c-i img
{
  display: block;
  width: 100%;
}

#c-inp
{
  padding-left: 20px;
}

#c-inp input
{
  width: 100%;
  font-size: 20px;
  border: 0;
  padding: 0;
  margin: 0;
}

#c-c-main input::placeholder
{
  color: #666;
}

#insert_emoji
{
  position: absolute;
  right: -2px;
  bottom: -10px;
  cursor: pointer;
}

#insert_emoji i
{
  display: block;
  color: #ccced6;
  font-size: 21px;
}

.post
{
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 3px 3px #ddd;
}

.p-p-pic
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.p-p-pic img
{
  width: 100%;
  display: block;
  border: 0;
}

.p-r-hdr
{
  vertical-align: top;
  padding-left: 20px;
}

.p-u-info
{
  color: #5a5959;
  font-size: 15px;
  margin-bottom: 7px;
}

.p-u-info a
{
  color: #4267b2;
}

.p-dt
{
  color: #a8a8a8;
  font-size: 13px;
}

.p-dt i
{
  font-size: 14px;
  margin-right: 2px;
}

.p-dt span
{
  position: relative;
  top: -2px;
}

.p-opt
{
  position: relative;
  right: -3px;
  width: 1px;
  color: #ccc;
  cursor: pointer;
  vertical-align: top;
}

.p-cnt-v
{
  display: block;
  margin: 20px -20px;
  cursor: pointer;
}

.p-acts
{
  overflow: hidden;
}

.p-act
{
  width: 24px;
  height: 24px;
  color: #a3a6aa;
  cursor: pointer;
}

.p-act span
{
  position: relative;
  top: 1px;
  width: 20px;
  font-size: 15px;
  color: #a3a6aa;
}

.like
{
  margin-right: 36px;
}

.like, .comment
{
  width: 50px;
  float: left;
}

.p-act i
{
  vertical-align: middle;
}

.like i, .comment i
{
  margin-right: 6px;
}

.share
{
  float: right;
  transform: rotateY(180deg);
  margin-right: -1px;
}

#loading
{
  text-align: center;
  padding: 40px 0px;
}

#loading i
{
  color: #4267b2;
  font-size: 32px;
  display: block;
}
/* Content area finished */

/* Chat bar */
#r-col
{
  position: relative;
  width: 150px;
}



#chat-bar
{
  position: absolute;
  top: -55px;
  right: 55px;
  bottom: 0px;
  left:0px;
}

#chat-lb
{
  color: #3a5795;
  font-size: 16px;
  text-align: center;
  margin: 23px 0px;
}

#chat-lb i
{
  font-size: 18px;
  margin-right: 4px;
  vertical-align: middle;
}

#chat-lb span
{
  position: relative;
  top: 2px;
}

.on-ct
{
  position: relative;
  width: 50px;
  height: 50px;
  margin: 28px auto 0 auto;
  border-radius: 50%;
}

#cts .on-ct:first-child
{
  margin-top: 0px;
}

.on-ct img
{
  border-radius: 50%;
}

.on-ct.active:after
{
  content: '';
  position: absolute;
  top: 3px;
  right: 2px;
  width: 10px;
  height: 10px;
  background-color: #2ecd18;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 3px #e9ebee;
  z-index: 1;
}

#ct-sett
{
  margin-top: 55px;
}

#ct-sett i
{
  color: #3a5795;
  padding: 13px;
  background-color: #d8e4ff;
  border-radius: 50%;
  cursor: pointer;
}
/* Chat bar finished */

/* Footer */
#device-bar-2 {
  padding: 9px 0px 13px 0px;
  background-color: #000;
}

#device-bar-2 i {
  display: block;
  width: 40px;
  color: #fff;
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
}
/* Footer finished */

/* CSS for POSTS Page */

@import url("https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans+Condensed:300");

.wrapper {
  background-color: #F5E5F5;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  font: normal 16px/26px Open Sans Condensed, sans-serif;
  color: #fff;
  padding: 100px 20px 200px;
  box-sizing: border-box;
}

#block {
  z-index: 1;
  position: relative;
  margin-bottom: 90px;
}

#block:before {
  content: "";
  position: absolute;
  height: calc(100% - 40px);
  width: 1px;
  background-color: black;
  left: 50%;
  margin-top: 90px;
}

.title {
  font: bold 30px/52px Open Sans Condensed, sans-serif;
  text-align: center;
  padding: 20px;
  transition: all 0.8s ease-in-out;
}

.each-event {
  background-color: #BC8F8F;
  color: black;
  padding: 15px;
  margin: 60px 20px;
  width: 300px;
  position: relative;
  border-radius: 4px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.each-event:before {
  content: "";
  position: absolute;
  top: calc(50% - 8px);
  left: -27px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: black;
  box-shadow: 0 4px 20px -4px rgba(64, 64, 64, 0.8);
}

.each-event:nth-child(odd) {
  margin-left: calc(50% + 20px);
}

.each-event:nth-child(even) {
  margin-left: calc(50% - 321px);}
  .each-event:nth-child(even):before {
    left: calc(100% + 14px);
  }

  .title.non-focus {
    font-size: 24px;
    line-height: 34px;
    transition: all 0.8s ease-in-out;
  }

  .each-event.non-focus {
    color: #D2D2D2;
    background: #E6E6E6;
    margin-top: 90px;
    transform: rotateZ(180deg);
    transition: all 0.8s ease-in-out;
  }

  .each-event.non-focus:before {
    opacity: 0;
    background-color: #aaa;
  }

  #date{
    font-size: 50px;
    color: black;
    text-align: center;
  }

  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .text-center {
    text-align: center!important;
  }

  .list-inline {
    padding-left: 0;
    list-style: none;
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }

  .list-inline-item:not(:last-child) {
    margin-right: .5rem;
  }

  .list-inline-item {
    display: inline-block;
  }
