<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Comment</title>
  </head>
  <body style="margin-left: 100px;">
    <h2>Write a comment:</h2>
    {{#each posts}}
    <form id="new-post-form" action="/posts/{{this._id}}/comment" method="post">
    <label for="message" style="margin-left:-90px;">Comment: </label>
    <input id="message" type="text" name="message" style="height: 100px; width: 200px" value="{{this.message}}">
    <br>
      <input type="submit" value="Submit">
    </form>
    {{/each}}
  </body>
</html>
